/* COMMON */

body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Noto Serif KR', serif;
  height: 6000px;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}


/* HEADER */

header {
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  background-color: #faebd7;
  position: fixed;
  top: 0;
  z-index: 9;
}
header .inner {
  height: 120px;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* display: none; */
}
header .logo img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .sub-menu ul.menu {
  display: flex;
}
header .sub-menu ul.menu  li {
  position: relative;
}
header .sub-menu ul.menu  li::before {
  content: "";
  border-right: 1px solid rgb(215, 247, 240);
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: 12px;
}
header .sub-menu ul.menu  li:first-child::before {
  display: none;
}
header .sub-menu ul.menu  li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #a52a2a;
}
header .sub-menu ul.menu  li a:hover {
  color: #333;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color:#fff;
  color: #777;
  font-size: 12px;
  transition: .5s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #a52a2a;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transform: 1s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
header .main-menu {
  width: 600px;
  height: 50px;
  /* background-color: red; */
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu .item {
  /* background-color: orange; */
  width: 200px;
}
header .main-menu .item .item__name {
  /* background-color: red; */
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #a52a2a;
  cursor: pointer;
  right: 0;
  left: 0;
  margin: auto;
}
header .main-menu .item .item__name:hover {
  color: #333;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: absolute;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
  background-color: #faebd7;
  margin-top: 7px;
}

header .main-menu .item .item__contents .contents__menu {
  /* background-color: red; */
  height: 50px;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  position: absolute;
}
header .main-menu .item .item__contents .contents__menu > ul .contents__box {
  padding: 10px 20px;
  height: 20px;
  /* background-color: red; */

}
header .main-menu .item .item__contents .contents__menu > ul .contents__box::before {
  /* content: ""; */
  height: 13px;
  border-right: 1px solid #333;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
header .main-menu .item .item__contents .contents__menu > ul .contents__box a {
  padding: 5px 10px;
  font-size: 12px;
  color: #a52a2a;
}
header .main-menu .item .item__contents .contents__menu > ul .contents__box a:hover {
  background-color: #ffe4c4;
  color: #d2691e;
}
header .badges {
  background-color: pink;
  position: fixed;
  top: 170px;
  right: 50px;
}
header .badges .badge {
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
  overflow: hidden;
  max-width: 200px;
  max-height: 400px;
  background-position: center;
}


/* VISUAL */

.visual {
  margin-top: 120px;
  background-image: url('../images/visual_bg.jpg');
  background-position: center;
}
.visual .inner {
  height: 600px;
  background-repeat:repeat;
  /* background-color: orange; */
}
.visual .title {
  display: block;

}
.visual .title .btn {
  position: absolute;
  bottom: 100px;
  left: 280px;
}
.visual .gift.image {
  position: absolute;
  top: 60px;
}
.visual .text {
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 0;
  padding: 10px;
  color: #333;
}
