/* COMMON */

body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Serif KR', serif;
  line-height: 1.4;
  height: 6000px;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}


/* HEADER */

header {
  width: 100%;
  position: fixed;
  background-color: #faebd7;
  border-bottom: 1px solid #c8c8c8;
  top: 0;
  z-index: 9;
}
header .inner {
  height: 120px;
}
header .logo {
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
  /* left: 0; */
  position: absolute;
  /* display: none; */
}
header .logo img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  display: flex;
}
header .sub-menu ul.menu  li {
  position: relative;
}
header .sub-menu ul.menu  li::before {
  content: "";
  border-right: 1px solid rgb(215, 247, 240);
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu  li:first-child::before {
  display: none;
}
header .sub-menu ul.menu  li a {
  display: block;
  padding: 11px 16px;
  color: #a52a2a;
  font-size: 12px;
}
header .sub-menu ul.menu  li a:hover {
  color: #333;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color:#fff;
  color: #777;
  font-size: 12px;
  transition: .5s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #a52a2a;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transform: 1s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
header .main-menu {
  width: 600px;
  height: 50px;
  /* background-color: red; */
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu .item {
  /* background-color: orange; */
  width: 200px;
}
header .main-menu .item .item__name {
  /* background-color: red; */
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #a52a2a;
  cursor: pointer;
  right: 0;
  left: 0;
  margin: auto;
}
header .main-menu .item .item__name:hover {
  color: #333;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: absolute;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
  background-color: #faebd7;
  margin-top: 7px;
}

header .main-menu .item .item__contents .contents__menu {
  /* background-color: red; */
  height: 50px;
  position: relative;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  position: absolute;
}
header .main-menu .item .item__contents .contents__menu > ul .contents__box {
  padding: 10px 20px;
  height: 20px;
  /* background-color: red; */

}
header .main-menu .item .item__contents .contents__menu > ul .contents__box::before {
  /* content: ""; */
  height: 13px;
  border-right: 1px solid #333;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
header .main-menu .item .item__contents .contents__menu > ul .contents__box a {
  padding: 5px 10px;
  font-size: 12px;
  color: #a52a2a;
}
header .main-menu .item .item__contents .contents__menu > ul .contents__box a:hover {
  background-color: #ffe4c4;
  color: #d2691e;
}
header .badges {
  position: fixed;
  top: 170px;
  right: 50px;
}
header .badges .badge {
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
  overflow: hidden;
  max-width: 200px;
  max-height: 400px;
  background-position: center;
}


/* VISUAL */

.visual {
  margin-top: 120px;
  background-image: url('../images/visual_bg.jpg');
  background-position: center;
}
.visual .inner {
  height: 600px;
  /* background-color: orange; */
}
.visual .title {
  position: absolute;
  display: block;

}
.visual .title .btn {
  position: absolute;
  bottom: 90px;
  left: 270px;
}
.visual .gift.image {
  position: absolute;
  top: 60px;
}
.visual .text {
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 0;
  padding: 10px;
  color: #333;
}
.visual .fade-in {
  opacity: 0;
}

/* NOTICE */

.notice {

}
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #6b4f44;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #faebd7;
}
.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .notice-lfet {
  width: 60%;
  height: 100%;
  display: flex;
  background-color: #6b4f44;
  align-items: center;

}
.notice .notice-line .notice-lfet h2 {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  margin-right: 20px;
}
.notice .notice-line .notice-lfet .swiper-container {
  background-color: whitesmoke;
  flex-grow: 1;
  height: 62px;
}
.notice .notice-line .notice-lfet .swiper-container .swiper-slide {
  display: flex;
  height: 62px;
  margin-left: 20px;
  align-items: center;
}
.notice .notice-line .notice-lfet .swiper-container .swiper-slide a {
  color: #333;
}
.notice .notice-line .notice-lfet .notice__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .notice-lfet .notice__more .material-icons {
  color: #fff;
  font-size: 30px;
}
.notice .notice-line .notice-right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .notice-right h2 {
  font-size: 17px;
  font-weight: 700;
  color: #333;
}
.notice .notice-line .notice-right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.notice .notice-line .notice-right .material-icons {
  font-size: 30px;
}
.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  
}
.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;
  text-align: center;
  font-size: 200px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .promotion .swiper-slide {
  opacity: .5;
}
.notice .promotion .swiper-slide-active {
  opacity: 1;
  transition: .6s;
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination-bullet {
  background-image: url('../images/promotion_slide_pager.png');
  width: 12px;
  height: 12px;
  margin-right: 6px;
  background-color: transparent;
  outline: none;
}
.notice .promotion .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-pagination-bullet-active {
  background-image: url('../images/promotion_slide_pager_on.png');
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  position: absolute;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}